<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kencorp.gads2020leaderboard">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Activities.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.LearnersDetail.learnerActivity"

            android:parentActivityName=".Activities.Main.MainActivity"
            ></activity>
        <activity
            android:name=".Activities.Submit.submitActivity"
            android:parentActivityName=".Activities.Main.MainActivity" />
        <activity
            android:name=".Activities.Main.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".Activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>